{% extends 'main/main.html' %}

{% block body %}

<div class="container" style="padding-top: 200px">
    <form method="post">
        {% csrf_token %}
        <div class="mb-3 container" style="width: 350px; height: 50px;">
            <div class="mb-3">
                <label class="form-label" style="color: white; font-size: 25px;">Регистрация</label>
            </div>
            <div class="input-group input-group-sm mb-3" data-bs-theme="dark">
                <span class="input-group-text" id="inputGroup-sizing-sm">Имя</span>
                {{ form.username }}
            </div>
            <div class="input-group input-group-sm mb-3" data-bs-theme="dark">
                <span class="input-group-text">Пароль</span>
                {{ form.password1 }}
            </div>
            <div class="input-group input-group-sm mb-3" data-bs-theme="dark">
                <span class="input-group-text">Повтор</span>
                {{ form.password2 }}
            </div>
<!--            <select id="disabledSelect" class="form-select form-select-sm" data-bs-theme="dark">-->
<!--                <option>Категория</option>-->
<!--                <option></option>-->
<!--            </select>-->
            <div class="mb3" data-bs-theme="dark">
                <div style="color: white;" class="container">
                    {{ form.errors }}
                </div>
                <button type="submit" class="btn btn-dark" style="margin-top: 15px;">Регистрация</button>
            </div>
        </div>
    </form>
</div>

<!--<center>-->
<!--  <form method="post" class="register_form">-->
<!--      <h1>{{ title }}</h1>-->
<!--      {% csrf_token %}-->
<!--      <label for="{{ form.username.id_for_label }}">Имя пользователя</label>-->
<!--      <p>{{ form.username }}</p>-->

<!--      <label for="{{ form.password.id_for_label }}">Пароль</label>-->
<!--      <p>{{ form.password1 }}</p>-->

<!--      <label for="{{ form.password.id_for_label }}">Повтор пароля</label>-->
<!--      <p>{{ form.password2 }}</p>-->
<!--      <p>{{ form.errors }}</p>-->
<!--      <button type="submit">Регистрация</button>-->
<!--  </form>-->
<!--</center>-->

{% endblock %}